*/__pycache__*
*/__pycache__/*
**/__pycache__/**

zenodo
.call.txt
freq.html
io_results
old_setup
*/sim/*
*venv/*
**/msgpack-c
*extern_lib*
*vscode*
*.json*
*.sh
*.html
*.darshan
*.*.gz
*.*.pois
/docs/ppt
ftio/util/afine.py
ftio/util/playback.py
ftio/util/ppm.py
ftio/api/test_api.py
ftio_hpc.egg-info/
ftio/ftio_hpc.egg-info/
ftio/iomodel/
ftio/jupyter/
ftio/roofline/
dist
build
info.txt
info.md
artifacts/ipdps24/IOR/o*
